:root{
    --dark-colour: #454545;
    --cell-size: 16;
    --universe-size: 40;
}
body {
    font-family: verdana, sans-serif;
    font-size: 80%;
}

#wrapper {
    width: 80%;
    margin:0 auto 2em auto;
}

#universe {
    box-sizing: border-box;
    display: block;
    margin: 20px auto;
    border: 1px solid black;
}

button:enabled {
    font-weight: bold;
}

aside {
    padding: 0.5em 1em;
    border: thin solid #ccc;
}

aside li {
    margin: 0.5em 0;
}
aside h2 {
    margin: 0 0 0.25em 0;
    font-size: 120%;
    font-style: italic;
}

#instructions {
    padding: 2em;
    float: left;
    width: 40%;
}
#game {
    display: flex;
    flex-direction: column;
}
/* start/stop toggle button styling */
#startstop {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.btn {
    /*border: 3px solid #1a1a1a;*/
    border: 2px solid var(--dark-colour);
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
    display: none;
}

input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 60px;
}

input[type="radio"].toggle + label:hover {
    background: none;
    /*color: #1a1a1a;*/
    color: var(--dark-colour);
}

input[type="radio"].toggle + label:after {
/*    background: #1a1a1a; */
    background-color: var(--dark-colour);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
}

input[type="radio"].toggle.toggle-left + label {
    border-right: 0;
}

input[type="radio"].toggle.toggle-left + label:after {
    left: 100%;
}

/*
input[type="radio"].toggle.toggle-right + label {
    margin-left: -5px;
}
*/
input[type="radio"].toggle.toggle-right + label:after {
    left: -100%;
}

input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #fff;
    transition: color 200ms;
}

input[type="radio"].toggle:checked + label:after {
    left: 0;
}

